{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Encuentranos en </h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Cotopsxi - Latacunga</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+593 998203250</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>harinasytrigos@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Indices</h4>
                <a class="btn btn-link" href="{% url 'inicio' %}">Inicio</a>
                <a class="btn btn-link" href="#">Categorías</a>
                <a class="btn btn-link" href="#">Productos</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Panadería</h4>
                <a class="btn btn-link" href="#">Sobre nosotros</a>
                <a class="btn btn-link" href="#">Contacto</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Fotos de nuestros productos</h4>
                <div class="row g-2">
                    <div class="col-4"><img class="img-fluid bg-light rounded p-1" src="{% static 'img/product-1.jpg' %}" alt="Image"></div>
                    <div class="col-4"><img class="img-fluid bg-light rounded p-1" src="{% static 'img/product-2.jpg' %}" alt="Image"></div>
                    <div class="col-4"><img class="img-fluid bg-light rounded p-1" src="{% static 'img/product-3.jpg' %}" alt="Image"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a href="#">Sistema de Inventario de Harinas y Trigos</a>
            </div>
            <div class="col-md-6 text-center text-md-end">
                Diseñado por <a href="#">Grupo 2</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->